* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.profileContainer, .containerPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadPhoto {
    display: flex;
    flex-direction: column;
}

.uploadPhoto input {
    font-family: 'Victor Mono';
}

.bin_like_icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.MuiCardContent-root {
    font-family: 'Victor Mono';
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.corazon {
    font-size: 20px;
}

.ant-image {
    position: relative;
}

.anticon {
    object-fit: cover;
}
