@import "colors.scss";

* {
  margin: 0
}
  

.App {
  height: 100%;
  width: 100%;
  background-color: $terciary-color;
  font-family: 'BTmono', Arial, sans-serif;
  text-align: center;
  align-items: center;
}
  