@import "colors.scss";

* {
  margin: 0
  
}

.App {
  height: 100%;
  width: 100%;
  background-color: $terciary-color;
  font-family: 'Victor Mono', Arial, sans-serif;
  align-items: center;
  
}
  